@tailwind base;
@tailwind components;
@tailwind utilities;





.main12 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.ma {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#mainop{
    perspective: 500px;
}



#tilting {

  width:fit-content;
  

}

#cursor {
  
  background-color: black;
  position: fixed;
  top: 0%;
  left: 0%;

}


.text2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.YOYO {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

#page2{
  position: relative;
  perspective: 3000px;

}

#amr{
  box-shadow: opx 20px 0px green;
}


@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}